<div class="container-fluid">
    <!-- Fixed dashboard menu across top -->

       <div class="row p-3">

         <div class="col-4">
           <div class="col-12 box dashboard_top_box">
             <div class="row image_row">
              <%if @dog%>

               <div class="col-5 user-image"  style="background-image: url(  <%=url_for(@dog.image) if @dog.image.attached? %>)">

                 </div>
               <% else %>
                 <div class="col-5 user-image" style="background-image: url(https://s3.amazonaws.com/images.wealthyaffiliate.com/uploads/1301462/sitecontent/af8ee5123f4ea46c22cce4787400eeb11523982238_cropped.jpg?1523982247)">
                 </div>
               <%end%>
               <div class="col-7 p-3">
                 <span class="fs-subtitle">Name: <%= @user.first_name + ' ' + @user.last_name %>
                  </span><br>
                 <!-- Instance variable here -->
                 <span class="fs-subtitle">Address: <%= @user.address_line_one + ' ' + @user.postal_code %> </span><br>

                <% if @dog.nil? %>
                    <span class="fs-subtitle"> Please Add Your Dog </span><br>
                 <% else %>
                    <span class="fs-subtitle">Dog: <%= @dog.name %> </span><br>
                 <% end %>
                <br>
                 <%= link_to new_dog_path do %>
                 <button type="button" name="button" class="btn btn-dark">Add Dog</button>
                 <% end %>
                 <%= link_to edit_user_path(@user.id) do %>
                 <button type="button" name="button" class="btn btn-dark">Edit</button>
                 <% end %>
               </div>
             </div>
             </div>
           </div>


        <div class="col-4">
          <div class="col-12">
            <div class="d-flex justify-content-center">
              <h2>Request A Walk</h2>
            </div>
            <div class="walk-request-button hvr-shrink d-flex justify-content-center w3-margin-top">
            <% if @dog.nil? %>
                <%= link_to new_dog_path do %>
                  <%= image_tag("walk-request-button-2.png") %>
                 <% end %>
            <% else %>
                <%= link_to new_walk_request_path do %>
                 <%= image_tag("walk-request-button-2.png") %>
                <% end %>
             <% end %>

            </div>
          </div>
         </div>


         <div class="col-4">
           <div class="box dashboard_top_box">
             <div class="col-12 stats-top text-center p-1">
                 <h2>Your Walk Credits</h2>
             </div>
             <div class="col-12 stats-bottom text-center">
                  <h1><%= @user_credit %></h1>
             </div>

           </div>
         </div>

       </div>





  <div class="w3-container">
    <div class="m12 mt-5" style="border-bottom: 3px solid black">
       <span class="walk-toggle active p-3 m-2">Your Walks   </span>
       <span class="walk-toggle p-3 m-2">    Walk Someone's Dog</span>
     </div>

    <div class="w3-row">
      <div class="w3-col m5 walk-req">
        <h2 class="w3-center">Walk Requests</h2>
        <table class="w3-table w3-small w3-striped w3-hoverable w3-bordered w3-responsive w3-card">
          <thead>
            <tr class="table-header">
              <th>Date</th>
              <th>Time</th>
              <th>Walker</th>
              <th> </th>
            </tr>
          </thead>
            <% if @dog %>
              <h5 class="w3-center">Your dog's upcoming walks</h5>
              <% @user.walk_requests.each do |walk| %>

              <tr>
                <td><%= walk.date.strftime("%b %e") %></td>
                <td><%= walk.walk_start_time.strftime("%I:%M%P") %></td>
              <% if walk.walker_id.nil? %>
                <td>No Walker Yet</td>
              <% else %>
                <td><%= User.find(walk.walker_id).first_name %> <%= User.find(walk.walker_id).last_name %> </td>
              <% end %>
                <td><%= link_to  edit_walk_request_path(walk) do %>
                <button type="button" class="w3-button w3-padding-small w3-tiny w3-round w3-red">Cancel</button></td>
              </tr>
                <% end %>
              <% end %>
            <% else %>
              <h5 class="w3-center">You haven't requested any walks</h5>
            <% end %>
        </table>
      </div>
      <div class="w3-col m1">
        <p> </p>
      </div>
      <div class="w3-col m6 walk-req">
        <h2 class="w3-center">Walks You're Taking</h2>
          <h5 class="w3-center">Don't forget to hit "complete" to earn credit for your walk</h5>
        <table class="w3-table w3-small w3-striped w3-hoverable w3-bordered w3-responsive w3-card">
          <thead>
            <tr class="upcoming-walks-header">
              <th>Date</th>
              <th>Dog</th>
              <th>Location</th>
              <th>Time</th>
              <th> </th>
              <th> </th>
              <th> </th>
            </tr>
          </thead>
            <% if @user_walks %>
              <% @user_walks.order(:date).each do |walk| %>
                <tr>
                  <td><%= walk.date.strftime("%b %e") %></td>
                  <td><%= walk.dog.name %></td>
                  <td><%= walk.user.address_line_one %></td>
                  <td><%= walk.walk_start_time.strftime("%I:%M%P") %></td>
                  <td><%= link_to mark_complete_walk_request_path(walk), method: :post do %>
                     <button type="button" class="w3-button w3-padding-small w3-tiny w3-round w3-indigo">Complete</button></td>
                     <% end %>
                  <td><%= link_to cancel_walk_request_path(walk) do %>
                  <td><button type="button" class="w3-button w3-padding-small w3-tiny w3-round w3-red">Cancel</button></td>
                </tr>
                 <% end %>
              <% end %>
            <% else %>
              <h5 class="w3-center">Book a walk</h5>
            <% end %>
          </tr>
        </table>
      </div>
      <div class="w3-col m12 hide book-walk-box">
        <h2 class="w3-center">Book A Walk</h2>
        <h5 class="w3-center">Make a dog's day--and earn walk credit!</h5>
        <table class="w3-table w3-small w3-striped w3-hoverable w3-bordered w3-responsive w3-card">
          <thead>
            <tr class="table-header">
              <th>Date</th>
              <th>Dog</th>
              <th>Location</th>
              <th>Start Time</th>
              <th>Book</th>
            </tr>
            <%@available_walks.each do |walk|%>



            <tr>
                <td> <%=walk.date%> </td>
                <td> <%=walk.dog.name%> </td>
                <td> <%=walk.user.address_line_one%></td>
                <td> <%=walk.walk_start_time.strftime("%I:%M%P")%></td>
                <td><%=link_to walk_request_path(walk) do %>
                 <button type="button" class="w3-button w3-padding-small w3-tiny w3-round w3-green">Book!</button></td>
            </tr>


            <%end%>
          <%end%>

          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
