<div class="container-fluid">
    <!-- Fixed dashboard menu across top -->
       <div class="row ">
         <div class="col-4">
           <div class="col-12 box dashboard_top_box">
             <div class="row image_row">
              <%if @dog%>
               <div class="col-5 user-image"  style="background-image: url(  <%=url_for(@dog.image) if @dog.image.attached? %>)">
               <%end%>
                <!-- Instance variable here -->

               </div>
               <div class="col-7">
                 <span class="fs-subtitle">Name: <%= @user.first_name + ' ' + @user.last_name %>
                  </span><br>
                 <!-- Instance variable here -->
                 <span class="fs-subtitle">Address: <%= @user.address_line_one + ' ' + @user.postal_code %> </span><br>

                <% if @dog.nil? %>
                    <span class="fs-subtitle"> Please Add Your Dog </span>
                 <% else %>
                    <span class="fs-subtitle">Dog: <%= @dog.name %> </span><br>
                 <% end %>

                 <%= link_to new_dog_path do %>
                 <button type="button" name="button" class="btn btn-dark">Add Dog</button>
                 <% end %>
                 <%= link_to edit_user_path(@user.id) do %>
                 <button type="button" name="button" class="btn btn-dark">Edit</button>
                 <% end %>


               </div>
             </div>
           </div>
          </div>

        <div class="col-4">
          <div class="col-12">
            <div class="d-flex justify-content-center">Request A Walk</div>
            <div class="walk-request-button hvr-shrink d-flex justify-content-center">
              <%= link_to new_walk_request_path do %>
               <%= image_tag("walk-request-button.png") %>
              <% end %>
          
            </div>
          </div>
         </div>


         <div class="col-4">
           <div class="box dashboard_top_box">
             <div class="col-12 stats-top text-center p-1">
                 <h2>Total Walk Credits Available</h2>
             </div>
             <div class="col-12 stats-bottom text-center">
                 5
             </div>
           </div>
         </div>
       </div>


       <div class="row mt-3">

         <div class="col-4">
           <div class="col-12">
             <table class="table table-dark">
               <div class="row">
                 <div class="col-lg-12 col-sm-12">
                 <%if @dog%>
                   <h3>
                     <%= @dog.name %>'s Scheduled Walks! </h3>

                   <thead>
                     <tr>
                       <th scope="col">Date</th>
                       <th scope="col">Start Time</th>
                       <th scope="col">End Time</th>
                       <th scope="col">Walker</th>
                     </tr>
                   </thead>
                   <tbody>

                   <% @dog.walk_requests.length.times do |walk| %>
                       <tr>
                         <td>

                         </td>
                         <td>start time</td>
                         <td>end time</td>

                         <td></td>
                         <td>name name  </td>
                       </tr>
                        <% end %>
                      <% else %>
                       <p>Uh oh - there are no dogs linked to your account sign one up! </p>

                      <%end%>
                   </tbody>
                 </div>
               </div>
             </table>
           </div>
         </div>





      <div class="col-5">
          <div class="col-12 ">
              <table class="table table-dark">
                <div class="col-lg-12 col-sm-12">
                  <h3> Here's your walks,
                    <%=@user.first_name%>
                  </h3>
                  <thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Dog</th>
                      <th scope="col">Owner</th>
                      <th scope="col">Location</th>
                      <th scope='col'>Start</th>
                      <th scope='col'>Walk Complete!</th>
                      <th scope='col'>Cancel Walk</th>
                    </tr>
                  </thead>
                  <tbody>

                    <% if @user_walks %>

                    <%@user_walks.order(:date).each do |walk| %>


                      <tr class="available_walk">
                        <td>
                          <%=walk.date%>
                        </td>
                        <td>
                          <%= walk.dog.name%>
                        </td>
                        <td>
                          <%=walk.user.first_name%>
                            <%=walk.user.last_name%>
                        </td>
                        <td>
                          <%=walk.user.address_line_one%>
                            <%=walk.user.postal_code%>
                        </td>
                        <td>
                          <%=walk.walk_start_time%>
                        </td>

                        <td>
                          <%= link_to  edit_walk_request_path(walk) do%>
                           <button type="button" class="btn btn-danger book_dog_walk">All Done!</button>
                        </td>
                        <%end%>
                         <td>
                           <%= link_to  edit_walk_request_path(walk) do%>
                           <button type="button" class="btn btn-info book_dog_walk">Cancel</button>
                        </td>
                        <%end%>

                      </tr>
                    <% else %>
                      <p>there is nothing here</p>
                    <% end %>
                 <% end %>
                  </tbody>
              </table>
            </div>
          </div>


          <div class="col-3">
            <div class="col-12">
              <table class="table table-dark">
                <div class="col-lg-12 col-sm-12">
                  <h3>Hey <%=@user.first_name%>, how about a walk?</h3>
                  <thead>
                    <tr>
                      <th scope="col">Dog</th>
                      <th scope="col">Owner</th>
                      <th scope="col">Start</th>
                      <th scope="col">Date</th>
                      <th scope='col'>Location</th>

                    </tr>
                  </thead>
                  <tbody>

                    <% @available_walks.each do |walk| %>
                    <tr>
                      <td>
                        <%=walk.dog.name%>
                      </td>
                      <td>
                        <%=walk.user.first_name%>
                        <%=walk.user.last_name%>
                      </td>
                      <td><%=walk.walk_start_time%></td>
                      <td><%=walk.date%></td>
                      <td><%=walk.user.address_line_one%></td>
                      <td><%=link_to walk_request_path(walk) do%>
                        <button type="button" class="btn btn-success book_dog_walk" >Book!</button>
                      </td>
                        <%end%>
                      <%end%>
                    </tr>
                  </tbody>
              </table>
              </div>
            </div>
          </div>
        </div>
       </div>
     </div>

<div class="w3-container-fluid">
  <div class="w3-row mt-5">
    <div class="w3-col m3">
      <h2 class="w3-center">Walk Requests</h2>
      <table class="w3-table w3-small w3-striped w3-hoverable w3-bordered w3-responsive w3-card">
        <thead>
          <tr class="table-header">
            <th>Date</th>
            <th>Time</th>
            <th>Walker</th>
            <th> </th>
          </tr>
        </thead>
        <% if @dog %>
            <h5 class="w3-center">Your dog's upcoming walks</h5>
          <% @user.walk_requests.each do |walk| %>
            <tr>
              <td><%= walk.date.strftime("%b %e") %></td>
              <td><%= walk.walk_start_time.strftime("%I:%M%P") %></td>
              <td><%= walk.walker_id %></td>
              <td>
            <%= link_to  edit_walk_request_path(walk) do %>
              <button type="button" class="w3-button w3-padding-small w3-tiny w3-round w3-red">Cancel</button></td>
            </tr>
            <% end %>
          <% end %>
          <% else %>
            <h5 class="w3-center">You haven't requested any walks</h5>
          <% end %>
      </table>
    </div>
    <div class="w3-col m5">
      <h2 class="w3-center">Walks You're Taking</h2>
        <h5 class="w3-center">Don't forget to hit "complete" to earn credit for your walk</h5>
      <table class="w3-table w3-small w3-striped w3-hoverable w3-bordered w3-responsive w3-card">
        <thead>
          <tr class="upcoming-walks-header">
            <th>Date</th>
            <th>Dog</th>
            <th>Location</th>
            <th>Time</th>
            <th> </th>
            <th> </th>
            <th> </th>
          </tr>
        </thead>
          <% if @user_walks %>
            <% @user_walks.order(:date).each do |walk| %>
              <tr>
                <td><%= walk.date.strftime("%b %e") %></td>
                <td><%= walk.dog.name %></td>
                <td><%= walk.user.address_line_one %></td>
                <td><%= walk.walk_start_time.strftime("%I:%M%P") %></td>
                <td>
                  <%= link_to edit_walk_request_path(walk) do %>
                   <button type="button" class="w3-button w3-padding-small w3-tiny w3-round w3-indigo">Complete</button></td>
                   <% end %>
                <td><%= link_to  edit_walk_request_path(walk) do %>
                <td><button type="button" class="w3-button w3-padding-small w3-tiny w3-round w3-red">Cancel</button></td>
              </tr>
               <% end %>
            <% end %>
          <% else %>
            <h5 class="w3-center">Book a walk</h5>
          <% end %>
        </tr>
      </table>
    </div>
    <div class="w3-col m4">
      <h2 class="w3-center">Book A Walk</h2>
      <h5 class="w3-center">Make a dog's day--and earn walk credit!</h5>
      <table class="w3-table w3-small w3-striped w3-hoverable w3-bordered w3-responsive w3-card">
        <thead>
          <tr class="table-header">
            <th>Date</th>
            <th>Dog</th>
            <th>Location</th>
            <th>Start Time</th>
            <th>Book</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
