<div class="container-fluid bg-form py-5">
  <div class="row">

    <div class="col-6 text-center">
       <%= image_tag image_path('logo.jpg'), :class => 'logo-md' %>
       <div class="m-3 mb-5">
        Request a walk from your neighbors!
        <br>
        <br>
        Remember, you must walk other people's dogs to earn credit for your own dog's walks
       </div>
    </div>

    <div class="col-6 form">
     <fieldset>
       <%= form_for @walk_request do |w| %>
         <div class="field">
           <%= w.label :walk_start_time %>
            <%= w.time_field :walk_start_time %>
         </div>

         <div class="field">
           <%= w.label :date %>
          <%= w.date_field :date %>
         </div>


         <%=w.hidden_field :dog_id, :value => current_user.dogs[0].id%>


         <div class="actions">
           <%= w.submit "Request Walk", :class => "action-button p-3"%>
         </div>
       <% end %>
     </fieldset>
    </div>

  </div>
</div>
