<div class="container-fluid bg-form py-5">
  <div class="row">
    <div class="col-6 text-center">
      <div class="row">
        <div class="col-12 text-center">
          <%= image_tag image_path('logo.jpg'), :class => 'logo-md' %>
            <div class="m-3 mb-5">
              Say hi to
              <%=@dog.name%>
                <br>
            </div>
            <div class="col-12 text-center">
              <div class="m-3 mb-5 dog-image align-center dog-container" style="background-image: url(  <%=url_for(@dog.image) if @dog.image.attached? %>)">
                <br>
             </div>
               <br>
           </div>
        </div>
      </div>
    </div>

    <div class="col-6 form">
      <fieldset>
        <h2 class="fs-title">Walk Confirmation</h2>
        <h3 class="fs-subtitle">By Clicking Confirm <br>
          You Agree To Take
          <span style="color:blue"><%=@dog.name%></span> for a Walk </h3>

          <div class="text-wrapper">
            <span class="text-muted">Dog Name: </span>
            <%=@dog.name%>
          </div>
          <div class="text-wrapper">
            <span class="text-muted">Temperment:</span>
            <%=@dog.temperment%>
          </div>
          <div class="text-wrapper">
            <span class="text-muted">Breed: </span>
            <%=@dog.breed%>
          </div>
          <div class="text-wrapper">
            <span class="text-muted"> Weight: </span>
            <%=@dog.weight%>
          </div>
          <div class="text-wrapper">
            <span class="text-muted">Date & Time: </span>
            <%d = @current_walk.date%>
            <%month = d.strftime("%m")%>
            <%day = d.strftime("%d")%>
            <%year = d.strftime("%Y")%>
            <%hour = d.strftime("%I")%>
            <%min = d.strftime("%M")%>
            <%="#{month + '-' + day + '-' + year + ' at ' + hour + ':' + min}"%>
          </div>
          <div class="text-wrapper">
            <span class="text-muted">
              <%=@dog.name%>'s Owner: </span>
            <%=@user.last_name%>,
              <%=@user.first_name%>
          </div>
          <div class="text-wrapper">
            <span class="text-muted">Human Address: </span>
            <%=@user.address_line_one%>,
              <%=@user.postal_code%>
          </div>

          <div>
            <%= button_to "Confirm", confirm_walk_request_walk_request_path, class: "action-button"%>
          </div>
      </fieldset>

    </div>
  </div>
</div>
