
    <fieldset class="auth-box hide" id="login-box">
      <a class="fs-title user-auth-toggle">Login</a>
      <a class="active fs-title user-auth-toggle">Sign Up</a>
      <h3 class="fs-subtitle">Welcome back</h3>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>



      <div class="actions">
        <%= f.submit "Log in", :class => "action-button" %>
      </div>
    <% end %>
    </fieldset>
