<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PACK</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-6 text-center mt-5">
          <h1 class="your-pack">Pack <%= @your_postal_code %></h1>
            <div class="row">
              <div class="col-6">
                <div class="box mt-3">
                  <div class="col-12 stats-top text-center p-1">
                    <h2>Total Walkers</h2>
                  </div>
                  <div class="col-12 stats-bottom p-4">
                    <h2><%= @num_walkers %></h2>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="box mt-3">
                  <div class="col-12 stats-top text-center p-1">
                    <h2>Total Dogs</h2>
                  </div>
                  <div class="col-12 stats-bottom text-center p-4">
                    <h2><%= @num_dogs %></h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="box mt-3">
                  <div class="col-12 stats-top text-center p-1">
                    <h2>Total Walks</h2>
                  </div>
                  <div class="col-12 stats-bottom text-center p-4">
                    <h2>@num_walks</h2>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="box mt-3">
                  <div class="col-12 stats-top text-center p-1">
                    <h2>Average Walk</h2>
                  </div>
                  <div class="col-12 stats-bottom text-center p-4">
                    <h2>20 minutes</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="box dog-image">
                  <img src="" alt="[dog image]">
                </div>
              </div>
              <div class="col-4">
                <div class="box dog-image">
                  <img src="" alt="[dog image]">
                </div>
              </div>
              <div class="col-3">
                <div class="btn btn-primary mt-4">
                  <%= link_to 'Join This Pack!', new_user_registration_path, :class => "btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 mt-5 mb-5">
            <iframe src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&q=<%= @your_postal_code %>" width="550" height="500" allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
  </body>
</html>
