
    <div class="container my-5">
      <div class="row">
        <div class="col-6 text-center mt-1">
          <h1 class="your-pack">Pack for Zipcode <%= @your_postal_code %></h1>

            <div class="row">
              <div class="col-6">
                <div class="box mt-3 w3-round-large">
                  <div class="col-12 stats-top text-center p-1">
                    <h2>Total Walkers</h2>
                  </div>
                  <div class="col-12 stats-bottom p-4">
                    <h2><%= @num_walkers %></h2>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="box mt-3">
                  <div class="col-12 stats-top text-center p-1">
                    <h2>Total Dogs</h2>
                  </div>
                  <div class="col-12 stats-bottom text-center p-4">
                    <h2><%= @num_dogs %></h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="box mt-3">
                  <div class="col-12 stats-top text-center p-1">
                    <h2>Total Walks</h2>
                  </div>
                  <div class="col-12 stats-bottom text-center p-4">
                    <h2>96</h2>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="box mt-3">
                  <div class="col-12 stats-top text-center p-1">
                    <h2>Average Walk</h2>
                  </div>
                  <div class="col-12 stats-bottom text-center p-4">
                    <h2>20 minutes</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="row align-items-center mt-4">
              <div class="col-4">
                <div class="dog-image">
                  <%= image_tag "pre-dash-dog-image-1.jpg", :alt => "Frenchie", :class => "w3-circle w3-image" %><figcaption class="mt-3 image-caption">You Could Walk Frenchie</figcaption>
                </div>
              </div>
              <div class="col-3 mr-4">
                <div>
                  <%= link_to 'Join The Pack!', join_path, :class => "hvr-shrink w3-green w3-btn w3-round-xlarge w3-large" %>
                </div>
              </div>
              <div class="col-4 ml-2">
                <div class="dog-image">
                    <%= image_tag "pre-dash-dog-image-2.jpg", :alt => "Goldie", :class => "w3-circle w3-image" %><figcaption class="mt-3 image-caption">Oliver's In This Pack</figcaption>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 mt-5 mb-5">
            <iframe src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&q=<%= @your_postal_code %>" width="550" height="500" allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
