<!DOCTYPE html>
<html>
  <head>
    <title>Pack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
<nav id="topNav" class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
      <a class="navbar-brand page-scroll" href="/"><%=image_tag image_path('logo.jpg'), class: 'logo-sm'%> Pack!</a>
    </div>
    <div class="navbar-collapse collapse" id="bs-navbar">
      <ul class="nav navbar-nav">
        <li>
          <a class="page-scroll" href="#one">About</a>
        </li>
        <li>
          <a class="page-scroll" href="#two">How it Works</a>
        </li>

      </ul>
      <ul class="nav navbar-nav ml-auto">

    <% if current_user %>
      <li>
        <%= link_to 'Dashboard', dashboard_path %>
        <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "Join the Pack", join_path %>
          <% end %>
        </li>

      </ul>
    </div>
  </div>
</nav>

  <%= yield %>

  <footer id="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-sm-4 column">
          <h4>Information</h4>
          <ul class="list-unstyled">
            <li><a href="">Copyright Pack</a></li>

          </ul>
        </div>
        <div class="col-xs-6 col-sm-4 column">
          <h4>About</h4>
          <ul class="list-unstyled">
            <li><a href="">Don't Contact Us</a></li>
            <li><a href="">Terms &amp; Conditions</a></li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-4 text-right">
          <h4>Follow</h4>
          <ul class="list-inline mt-5">
            <li class="list-inline-item"><a rel="nofollow" href="" title="Twitter"><i class="icon-lg fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a rel="nofollow" href="" title="Facebook"><i class="icon-lg fab fa-facebook"></i></a></li>
            <li class="list-inline-item"><a rel="nofollow" href="" title="Instagram"><i class="icon-lg fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <br/>

  </footer>
  </body>
</html>
